@tailwind base;
@tailwind components;
@tailwind utilities;


.neumorphic-button {
    box-shadow: 4px 4px 10px #d1d9e6, -4px -4px 10px #ffffff;
    transition: all 0.3s ease;
}

.neumorphic-button:active {
    box-shadow: inset 2px 2px 6px #d1d9e6, inset -2px -2px 6px #181818;
}

.neumorphic-shadow {
    box-shadow: 2px 2px 20px #d1d9e6, -2px -2px 20px #181818;
}